/* Main Menu Styling */

.Menu{
    height: 100%;
    /* width: 50%; */
    margin: 4 8;
    background: $panel;
    color: $text;
    border: tall $background;
    padding: 1 2;
    content-align: center middle;
}

.Menu ListView{
    background: $panel;
}

.Menu ListItem{
    align: center middle;
    padding: 1;
}
.Menu Button{
    content-align: right middle ;
}
.Menu Static{
    content-align: center middle ;
}

/* Export Data Menu stying */
.Dailog{
    background: $boost;
    padding: 2;
    margin: 10 4;
    /* align: center middle; */
    /* width: 50%; */
}

.Dailog #title{
    padding: 1;
    width: 100%;
    content-align: center middle;
}
.Dailog Label{
    padding: 1;
}
.exportdata{
    background: rgba(0,0,0,0.5) ;
}
